{% extends "blog/base.html" %} {% block content %} {% load staticfiles %}

<div id="component_graph">
  <h1>Matrix de transición</h1>
  <h3>Grafo</h3>

  <br>

  <div class="btn-group" role="group">
    <button v-on:click="addState()" type="button" class="btn btn-primary col-md-8" title="Agregar estado">Agregar estado</button>
    <button v-on:click="removeLast" type="button" class="btn btn-danger">Quitar último</button>
    <button v-on:click="reverse" type="button" class="btn btn-secundary">Invertir orden</button>
  </div>

  <br>
  <br>

  <p>Nombres de los estados: </p>
  <div class="row">
    <div v-for="item in estados" class="col-md-4">
      <div class="input-group">
        <input type="text" class="form-control" v-model="item.label" />
      </div>
    </div>
  </div>

  <hr>

  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
      <h3>
        Transición
      </h3>
    </div>
    <div class="panel-body">
      <p>
        Añadir transicion
      </p>
    </div>

    <!-- Selector de Transición -->
    <div class="row">
      <div class="col-md-4">
        <select v-model="selectedto" class="form-control" title="Estado (i)">
          <option v-for="option in estados" v-bind:value="option.id" :key="option.id" v-html="option.label">
          </option>
        </select>
      </div>
      <div class="col-md-4" title="Probabilidad de ir de i hasta j">
        <input type="number" v-model="probabilidad" class="form-control">
      </div>
      <div class="col-md-4">
        <select v-model="selectedfrom" class="form-control" title="Estado (j)">
          <option v-for="option in estados" v-bind:value="option.id" :key="option.id" v-html="option.label">
          </option>
        </select>
      </div>
      <!-- Muestra el resultado basico de la transicion antes de añadirla -->
      <div class="col-md-12">
        <br>
        <button v-on:click="addEdge()" type="button" class="btn btn-secundary">Añadir transición</button> Transición actual:
        <label for="" v-html="selectedto" title="i"></label> =>
        <label for="" v-html="probabilidad" title="Probabilidad de la transición actual"></label> =>
        <label for="" v-html="selectedfrom" title="j"></label>
      </div>
    </div>

    <br>
    <!-- Listado de esges registrados -->
    <div v-if="edges.length > 0" class="row">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Desde (i)</th>
            <th>Hasta (j)</th>
            <th>Probabilidad</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) in edges">
            <th scope="row" v-html="index + 1"></th>
            <td v-html="item.from"></td>
            <td v-html="item.to"></td>
            <td v-html="item.label"></td>
          </tr>
        </tbody>
      </table>

      <button v-on:click="graph()" type="button" class="btn btn-secundary">Graficar</button>
    </div>
  </div>


  <div id="mynetwork"></div>
  <pre id="eventSpan"></pre>
</div>

<script src="{% static 'js/vue_functions/vue.matrixgraph.js' %}"></script>

{% endblock content %}